<table>
    <tr>
        <th>access_token</th>
        <td> {{access_token }}</td>
    </tr>
    <tr>
        <th>refresh_token</th>
        <td> {{ refresh_token }}</td>
    </tr>
    <tr>
        <th>api_access_point</th>
        <td> {{ api_access_point}}</td>
    </tr>
    <tr>
        <th>web_access_point</th>
        <td> {{ web_access_point}}</td>
    </tr>
    <tr>
        <th>token_type</th>
        <td> {{ token_type }}</td>
    </tr>
    <tr>
        <th>expires_in</th>
        <td> {{ expires_in }}</td>
    </tr>
</table>
